body{
  margin: 3%;
  background-color:#f6dcbf;
  border-radius: 25px;
}


header{
  text-align: center;

  color: #23f;

  background-color:#f7a440 ;
  height: 80px;
}






#first{
  background-color: #aaaaaa;

  height: 200px;
 text-align: center;
  margin: 30px 30px 30px 30%;
 width: 550px ;
}

#first p{
 font-size: 20px;
 color: #32045d;
}


#second{
 
   background-color:#f7a440;
   margin-bottom:30px; 
}

.image{
  border-radius: 25px;
  display: inline-block;
  height: 250px;
  padding:3%;
  
 
}

footer{
  height: 100px;
  color:#23f;
  background-color:#f7a440 ;
  text-align: center;
  margin-bottom: 15px;
}

#cc{
 
   background-color:#aaaaaa;
  text-align: center; 
}